<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<div class="container">
    <div class="card">
      <div class="card-header">
        <h1>To Do List</h1>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" #title/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" #description/>
          </div>
          <br>
          <!-- On click of this function values of text box will be passed to TransferData in Ts file-->
          <a class="btn btn-primary" (click)="TransferData(title.value, description.value)" href="#" >Add Task</a> 
        </form>
      </div>
    </div>
    <hr>
    <div>
      <!--For displaying the text entered in text box upon click of button-->
      <app-child [titleData] = "inputTitle" [descriptionData] = "inputDescription" [objData] = "inputObj"></app-child>
    </div>
</div>